@{
    ViewBag.Title = "Check Open Closing Characters";
}
<script src="~/Scripts/challenge.js"></script>
<h3>Enter your code to validate</h3>

<textarea rows="40" cols="500" id="code">

</textarea>
<input type="button" value="Verify" onclick="checkOpenClosedAlert()"/>

